/* Sticky footer */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

/* Header */
header {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/* Name inside the navigation bar */
.name {
    background-color: #0074D9;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    float: left;
}

/* Links inside the navigation bar */
.topnav a {
    float: right;
    background-color: #ffffff;
    color: grey;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Georgia", 'Times New Roman', Times, serif;
}

.portfolio {
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}

/* Color of links on hover */
.topnav a:hover {
    background-color: #0074D9;
    color:white;
}

/* Clear floats */
.clear {
    clear: both;
    overflow: auto;
}

/* Background */
.background {
    border-top: 1px solid #0074D9;
    background-image: url(../images/regal.png);
    background-repeat: repeat;
    width: 100%;
    height: 100vh;
}

/* Body */
hr {
    border: 1px solid lightgrey;
}

.container {
    width: 960px;
    background-color: white;
    padding: 30px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.5;
}

.containerPortfolio {
    width: 960px;
    height: 700px;;
    background-color: white;
    padding: 30px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

/* Bio picture */
.bio-image {
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 300px;
    height: auto;
}

.text {
    text-align: justify;
}

footer {
    border-top: 4px solid #0074D9;
    background-color: darkgray;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
}

/* Form style inputs */
input[type=text], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid darkblue;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #message {
    padding-bottom: 200px;
  }

  /* Form style the submit button */
  input[type=submit] {
    background-color: #0074D9;
    color: white;
    font-weight: bold;
    margin: 0;
    border: 2px solid darkblue;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Form style for submit button hover */
  input[type=submit]:hover {
    background-color: darkgrey;
    color: black;
  }
 
  .pics {
      position: relative;
      float: left;
      width: 200px;
      height: 200px;
      margin: 50px;
      border: 1px solid darkblue;
  }

  .pics p {
      position: absolute;
      font-size: 20px;
      bottom: 5px;
      background-color: #0074D9;
      width: 100%;
      text-align: center;
      color: white;
  }

  #hangman {
      background-image: url(../images/hangman.jpg);
  }

  #rpg {
    background-image: url(../images/rpg.jpg);
  }

  #trivia {
      background-image: url(../images/trivia.jpg)
  }

  #rutgers {
      background-image: url(../images/widget.jpg)
  }

  #rock {
      background-image: url(../images/rock.jpg)
  }

  @media only screen and (min-width: 980px) and (max-width: 1000px) {
      
    header .name {
        margin-left: 5%;
    }
    
    header .topnav {
        margin-right: 5%;
    }
    
    .container {
        margin-left: 5%;
        width: 60%;
    }

    .containerPortfolio {
        margin-left: 5%;
        width: 60%;
    }

    .bio-image {
        width: 40%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .pics {
        width: 225px;
        height: 170px;
        margin: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 979px) {

    header .name {
        margin-left: 2%;
    }
    
    header .topnav {
        margin-right: 23%;
    }

    .container {
        margin-left: 2%;
        width: 95%;
    }
    .containerPortfolio {
        margin-left: 2%;
        width: 95%;
    }

    .bio-image {
        width: 50%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .pics {
        width: 290px;
        height: 170px;
        margin: 15px;
    }
}

@media only screen and (max-width: 640px) {

    header .name {
        margin: 0;
        width: 640px;
    }
    
    header .topnav {
        float: none;
        width: 45%;
    }

    .container {
        width: 90%;
    }
    .containerPortfolio {
        width: 90%;
    }

    .bio-image {
        width: 100%;
    }

    .pics {
        width: 100%;
        margin: 0;
    }

    #hangman {
        margin-top: 2%;
    }

    #rpg {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #rutgers {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #rock {
        margin-bottom: 15%;
    }
}